


<div class="page-heading normal-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Liberty NFT Market</h6>
        <h2>View Item Details</h2>
        <span>Home > <a href="#">Item Details</a></span>
        <div class="buttons">
          <div class="main-button">
            <a [routerLink]="['explore']">Explore Our Items</a>
          </div>
          <div class="border-button">
            <a [routerLink]="['forms']">Create Your NFT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-register>
</app-register>

<router-outlet></router-outlet>